{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
{{ block.super }}
<script>
django.jQuery(function() {
    var btn = django.jQuery('<input type="submit" value="Apply selection rules">').click(function(e) {
        e.preventDefault();
        django.jQuery.post('{% url logical_group_rules original.pk %}', {csrfmiddlewaretoken: '{{ csrf_token }}'}, function() {
            window.location = "{% url admin:ddsc_core_logicalgroup_changelist %}";
        });
    });
    django.jQuery('.submit-row:last').prepend(btn);
});
</script>
{% endblock %}
